@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,800|Satisfy');
@import url("fa/css/font-awesome.min.css");

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #666666;
  font-weight: 300;
}

h1{
  font-size: 50px;
  text-align: center;
  font-variant: small-caps;
  font-weight: 400;
  width: 100%;
}
  
.wrapper{
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.taskwrap{
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  vertical-align: top;
  padding: 0 40px;
}

input[type=text]{
  width: 290px;
  height: 40px;
  border: 1px solid hotpink;
  font-size: 14px;
  padding: 0 10px;
}

.btn{
  width: 120px;
  height: 40px;
  border: 0;
  outline: 0;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background-color: hotpink;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 0 0 0 40px;
  transition: all ease-in-out 0.5s;
}

.btn:hover{
  color: hotpink;
  background-color: white;
  border: 1px solid hotpink;
}

.categories{
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 44%;
}

ol{
  width: 100%;
  padding: 0 40px;
}

.catlist{
  margin-top: 60px;
}

.controls{
  float: right;
}

i.fa{
  margin-left: 16px;
  cursor: pointer;
  font-size: 15px;
}